<a href="https://colab.research.google.com/github/liberato10/PandasBasicOperations/blob/main/PandasBasicOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# You need to do this if you want to load data from Google Drive

# If you need help, see the Load data section

from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
# Keep in mind that the filename will likely be different on your computer (especially later in course)

filename = '/content/drive/MyDrive/bostonHousing1978 (4).csv'

df = pd.read_csv('/content/drive/MyDrive/bostonHousing1978 (4).csv')

df

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]

In [4]:
# Select top N number of records (default = 5)

df.head()

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

In [5]:
# Select bottom N number of records (default = 5)

df.tail()

        RM  LSTAT  PTRATIO  target
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

In [6]:
# Check the column data types using the dtypes attribute

df.dtypes

RM         float64
LSTAT      float64
PTRATIO    float64
target     float64
dtype: object

In [7]:
# Use the shape attribute to get the number of rows and columns in your dataframe

df.shape

(506, 4)

In [8]:
# The info method gives the column datatypes + number of non-null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       506 non-null    float64
 1   LSTAT    506 non-null    float64
 2   PTRATIO  506 non-null    float64
 3   target   506 non-null    float64
dtypes: float64(4)
memory usage: 15.9 KB